.qcm {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.qcm-question {
  text-align: center;
  font-size: 2rem;
  border: 2px solid #3f51b5;
  border-radius: 0.7rem;
  width: 90%;
}
.qcm-question::first-letter {
  text-transform: uppercase;
}


.qcm-options {
  width: 85%;
}

.post-it {
  width: 85%;
  padding: 0.5rem;
}

.post-it-body {
  box-shadow: 5px 10px 10px rgba(128, 128, 128, 0.5);
}

.post-it-head {
  width: 100%;
  height: 2rem;
  border-bottom: 1px solid rgb(201, 225, 117);
}

.post-it-head, .post-it-body {
  background-color: rgb(221, 245, 117);
}
